<%= render :partial => "errors" %>

<%= render :partial => "analytics_tabs" %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick"%>
<%= render :partial => "dashboard_datatables" %>
<div id="graphs">
<%= render :partial => "graphs"%>
</div>