<div class="row about-row">
  <div class="image-bef-txt">
    <h1>THIS IS STORYWEAVER.</h1>
    <h2>Many languages, formats, and stories for children. All open source.</h2>
  </div>
  <img src="<%= asset_path('about/banner.jpg') %>" class="about-banner" />	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<p class="cnt-top">प्राथम पुस्तकों से स्टोरीवेस्टर में आपका स्वागत है, बच्चों की कहानियों की पूरी नई दुनिया, जहां सभी बाधाएं दूर होती हैं यह एक ऐसा मंच है जो पूरे भारत में और उससे आगे की भाषाओं में कहानियों की मेजबानी करता है। ताकि प्रत्येक बच्चे को उसकी मातृभाषा में कहानियों का एक अंतहीन प्रवाह हो और पढ़ने और आनंद ले सकें। StoryWeaver एक खुला मंच है जो अभिनव और इंटरैक्टिव है। यह शब्दों और चित्रों की आकर्षक दुनिया को जोड़ने और साझा करने के लिए कहानियों और रीडर के बुनकर दोनों को आमंत्रित करता है। इसके बाद, बच्चों के साहित्य और प्रकाशन में एक नया अध्याय चिन्हित करता है। कहानियों के जादू और पढ़ने की खुशी खोजने के लिए आओ - एक अन्वेषण जो अविस्मरणीय होगा </p>
        <p class="cnt-top"><b>को ब्राउज़ करें, जहां आप कहानियों का एक अंतहीन स्ट्रीम पढ़ सकते हैं, बना सकते हैं, अनुवाद कर सकते हैं या डाउनलोड कर सकते हैं।</b></p>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/read.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Read</h3>
              <p>
              तथ्य यह है कि सभी शिक्षा पढ़ने की क्षमता पर निर्भर करती है। जब बच्चों को अपनी भाषाओं में सुखद, समृद्ध कहानियों तक पहुंच प्राप्त होती है, तो उनके पढ़ने के कौशल में बदलाव दृश्यमान होते हैं। ऐसी कहानियों को पढ़ने में बहुत खुशी होती है जो आकर्षक हैं और अपनी कल्पना को कैप्चर करते हैं, बच्चों को पाठकों बनने के लिए कर सकते हैं। बदले में, उन्हें बेहतर शिक्षार्थियों बनाता है StoryWeaver एक खुला स्रोत मंच है यह कहानियों का कभी न खत्म होने वाला संग्रह के लिए एक बिल्कुल मुफ्त प्रवेश द्वार है। ऐसी कहानियां जो कल्पना को गुदगुदी करती हैं, और बच्चों को दूर तक और परे तक लेती हैं। ऐसी कहानियां जो गणित, विज्ञान, पर्यावरण और यहां तक ​​कि इतिहास में अवधारणाएं तलाशती हैं प्रारंभिक पाठकों के लिए कहानियां और अधिक धाराप्रवाह - 20 से अधिक भाषाओं में। 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/download.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Download</h3>
              <p class="text-right">
              और आप बस पढ़ा से ज्यादा कुछ कर सकते हैं। आप बाद में पढ़ने के लिए एक कहानी डाउनलोड कर सकते हैं। यदि आप कोई कहानी प्रिंट करना चाहते हैं, तो हमारे पास आसान ए 4 प्रिंट तैयार प्रारूप उपलब्ध है। और सामग्री के अन्य उपयोगकर्ताओं के लिए, StoryWeaver के पास सभी कहानियों के लिए एक डिजिटल मैत्रीपूर्ण ई-पब प्रारूप भी है।
              हमारी लड़ाई में कहानियों को मुक्त करने के लिए ताकि वे हर जगह पढ़ा जा सकें StoryWeaver को डेस्कटॉप कंप्यूटर, लैपटॉप, टैबलेट और यहां तक ​​कि मोबाइल फोन पर भी पहुंचा जा सकता है।
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/create-01.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Create</h3>
              <p>
              एक कहानी बुन करना एक खुशी है सैकड़ों हाथी की कहानियां देने के अलावा, स्टोरी-वीवर आपको अपनी कहानी बनाने की अनुमति देता है! आप इसे 2000 से अधिक चित्रों के सम्मोहक कलाकृति के साथ वर्णन करने के लिए चुन सकते हैं। इसलिए, जब प्रकाशन ने हमेशा जटिल, और चुनौतीपूर्ण लग रहा था, स्टूवरवेस्टर अब आपके शब्दों को लिखना, आपके चित्रों को चुनना, टेम्पलेट चुनना और अपनी खुद की कहानी प्रकाशित करना मिनटों में आसान बनाता है! आप किसी मौजूदा कहानी के संस्करणों को उस संदर्भ में अनुकूल कर सकते हैं जो आपके लिए सबसे अधिक प्रासंगिक है। सामग्री निर्माता के लिए StoryWeaver का डैशबोर्ड आपको ट्रैक करने की अनुमति देता है कि कितने लोगों ने आपकी कहानी पढ़ ली है और आपकी प्रकाशित कहानियों के व्युत्पन्न संस्करण भी देखें 
              </p>
            </div>					
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">				  
            <span><img src="<%= asset_path('about/translate.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Translate</h3>
              <p class="text-right">
              शिक्षकों, पुस्तकालय और माता-पिता के लिए, स्टोरीवईवर एक ताज़ा, रोमांचक प्रयोज्य प्रदान करता है। सभी कहानियों का अनुवाद सभी नई भाषाओं में हो सकता है। इसका मतलब यह है कि यह कहानियों का एक समृद्ध मकसद है जिसे दुनिया भर में साझा किया जा सकता है। ऐसी कहानियां जो अब तक भाषा के अनुसार क्षेत्र तक सीमित हैं, अब मुफ्त में सेट हैं बच्चे इन कहानियों को पढ़ सकते हैं या उन्हें समझने वाली भाषाओं में पढ़ा जा सकता है। इस के साथ, स्टोरीवईवर लोगों को एक साथ लाता है और उन्हें साझा पहचान ढूंढने में मदद करता है। StoryWeaver आपकी पसंद की किसी भी भाषा में अनुवाद को सक्षम करता है।</p>
              <p class="text-right"><a href="https://storyweaver.org.in/tutorials">Click here</a> कहानियों का अनुवाद कैसे करें या अनुवाद करने के लिए टूल और युक्तियों के बारे में अधिक जानने के लिए डेमो के लिए <a href="https://storyweaver.org.in/translation_tools_and_tips"> here</a>.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/connect.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Connect</h3>
              <p>
               माता-पिता, शिक्षकों, पुस्तकालयों, लेखकों, अनुवादकों और अन्य लोगों के लिए बच्चों की साहित्य के साथ समीक्षा, चर्चा और संलग्न होने के लिए बैठक का मैदान है। यह बांड बनाता है, जहां व्यक्तियों और समूहों को अपने अनुभव साझा करने की अनुमति देकर कुछ कम हो सकते हैं। StoryWeaver पर चलना रोमांचक और उत्तेजक है क्योंकि आप अपनी पसंदीदा पुस्तकों के आसपास चर्चा शुरू कर सकते हैं, सवाल पूछ सकते हैं, विचारों और संसाधनों को साझा कर सकते हैं, पुस्तकें की समीक्षा कर सकते हैं, और साझा रुचियों के आसपास समूह बनाएं आपको पता चल जाएगा कि स्टोरीवर पर होने वाला एक समृद्ध अनुभव है।
              </p>
            </div>
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/open.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Open</h3>
              <p class="text-right">
              StoryWeaver की खुली लाइसेंस के दर्शन में इसकी जड़ें हैं हम चाहते हैं कि हर बच्चे को पढ़ना और पढ़ना सीखने के लिए अपनी भाषा में कहानियों के धन के लिए आसान पहुंच प्राप्त हो, जो एक स्वायत्त विद्यार्थी बनने का पहला कदम है। इसे सक्षम करने के लिए, हमने क्रिएटिव कॉमन्स लाइसेंसों का उपयोग करते हुए सभी पुरानी पुस्तकों की सामग्री के लिए अप्रतिबंधित पहुंच की अनुमति दी है। StoryWeaver पर सभी कहानियों और चित्रण खुले लाइसेंस के तहत उपलब्ध हैं। इसका अर्थ है कि हम लोगों को यहां उपलब्ध रचनात्मक कार्यों पर साझा, उपयोग या यहां तक ​​कि निर्माण करने का अधिकार देते हैं जो यहां उपलब्ध है। अनुवाद और स्वरूपण के लिए सभी उपकरण बिल्कुल मुफ्त हैं। यहां बनाई गई कहानियां सक्रिय रूप से आकार देने और प्रतिभागणीय कॉपीराइट लाइसेंस की श्रृंखलाओं के बिना - भाग लेने और सहयोग के लिए रमणीय निमंत्रण के रूप में विकसित होती हैं। पढ़ने के लिए कल्पना को मुक्त करने के लिए, नए विचारों और विचारों को खोजने के लिए है वास्तव में पढ़ने के लिए, वास्तव में, खुशी की खोज के लिए है
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Watch the StoryWeaver videos :</h3>
          <p><b>English</b></p>
          <div class="embed-video">
            <iframe width="560" height="315" src="
            https://www.youtube.com/embed/Cc8ZIvDluh8" frameborder="0"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><b><br>Hindi</b></p>
          <div class="embed-video">
            <iframe width="560" height="315" src="
            https://www.youtube.com/embed/GS906aLxi2Q" frameborder="0"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Youtube links to the videos :</h3>
          <p>English: <a href="https://www.youtube.com/watch?v=Cc8ZIvDluh8">https://www.youtube.com/watch?v=Cc8ZIvDluh8</a></p>
          <p>Hindi: <a href="https://www.youtube.com/watch?v=GS906aLxi2Q&feature=youtu.be
          ">https://www.youtube.com/watch?v=GS906aLxi2Q&feature=youtu.be</a></p>
      </div>
    </div>
  </div>
</div>

