<div class="row about-row">
  <div class="image-bef-txt">
    <h1>THIS IS STORYWEAVER.</h1>
    <h2>Many languages, formats, and stories for children. All open source.</h2>
  </div>
  <img src="<%= asset_path('about/banner.jpg') %>" class="about-banner" />	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<p class="cnt-top">Welcome to StoryWeaver from Pratham Books! Designed to provide children with reading resources, StoryWeaver is a digital gateway to thousands of richly illustrated, open-licensed children's stories in mother tongue languages.</p>
        <p class="cnt-top">There's more to StoryWeaver than just reading. It is also a first-of-its-kind platform that provides easy-to-use tools to create, adapt, and translate new stories for children. It's the ideal place for parents, educators, writers, translators, and illustrators to come together to weave new stories for children and help to create a pathway to nurture the next generation of readers!</p>
        <p class="cnt-top"><b>Browse StoryWeaver, where you can read, create, translate, or download an endless stream of free stories.</b></p>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/read.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Read</h3>
              <p>All learning depends upon the ability to read. When children have access to enjoyable and engaging stories in a language they are fluent in, they build their reading skills, which are essential for their growth and development. Stories introduce new words and ideas into a child's language – from picture books for the very young, to more complex narratives for older children. Stories help children learn about new concepts, new ideas and open up the windows of their imagination. Children who read often, become better readers, which leads to success in school and other areas of life. StoryWeaver is a platform that provides a free gateway to a never-ending collection of open source stories for children. Stories that tickle the imagination, inspire curiosity, and take children to places far and beyond. Stories that explore varied concepts in math, science, the environment, history, emotional intelligence and much more. Stories for the early readers and the more fluent ones in mother tongue languages from India and around the world.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/download.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Download</h3>
              <p class="text-right">On StoryWeaver, you can do more than just read. You can download a story to read later. All the stories are available in three formats: a web-resolution PDF, an A4 print ready format, and a digital-friendly ePub format.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/offline.png') %>" class="circle_image offline_img"></span>
            <div class="about-content">
              <h3>Store</h3>
              <p>StoryWeaver makes it easy for you to enjoy your favourite stories even when you do not have internet connectivity. Add stories to your Offline LIbrary and read them whenever you like.</p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/create-01.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3 class="text-right">Create</h3>
              <p class="text-right">StoryWeaver allows you to create your own stories and illustrate them with beautiful artwork. Choose from thousands of openly licensed images from well known illustrators. So while creating your own storybook has always sounded complex, and daunting, StoryWeaver now makes it super-easy to write your narrative, pick your illustrations, and publish your very own story – in minutes!</p>
            </div>					
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">				  
            <span><img src="<%= asset_path('about/translate.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3>Translate</h3>
              <p>StoryWeaver allows you translate a story into a language of your choice using the easy to use tools on the platform. we encourage communities across the globe to create reading resources in their own languages for their children to read and enjoy, and also to preserve their linguistic and cultural heritage</p>
              <p><a href="https://storyweaver.org.in/tutorials" target="_blank">Click here</a> for a demo on how to translate stories or know more about tools and tips to translate <a href="https://storyweaver.org.in/translation_tools_and_tips" target="_blank">here</a>.</p>
              <p>If you would like us to add a language to StoryWeaver that you need, write to us at <a href="mailto:storyweaver@prathambooks.org">storyweaver@prathambooks.org</a>.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/open.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Open</h3>
              <p class="text-right">StoryWeaver has its roots in the philosophy of open licensing. We believe that open licensing is a way to provide inclusive access to content for all children. All the content on StoryWeaver is openly licensed under the Creative Commons 4.0 license. Which means we give people the right to use, reuse, share or even build upon the creative work that is available. All tools for translation and formatting are absolutely free. The stories created here are invitations for participation and collaboration – without the chains of restrictive copyright licenses.</p>
              <p class="text-right">To read is to free the imagination, to discover new thoughts and ideas and to experience joy.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Watch the StoryWeaver videos :</h3>
          <p><b>English</b></p>
          <div class="embed-video">
            <iframe width="560" height="315" src="
            https://www.youtube.com/embed/Cc8ZIvDluh8" frameborder="0"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><b><br>Hindi</b></p>
          <div class="embed-video">
            <iframe width="560" height="315" src="
            https://www.youtube.com/embed/GS906aLxi2Q" frameborder="0"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <h3>Youtube links to the videos :</h3>
          <p>English: <a href="https://www.youtube.com/watch?v=Cc8ZIvDluh8">https://www.youtube.com/watch?v=Cc8ZIvDluh8</a></p>
          <p>Hindi: <a href="https://www.youtube.com/watch?v=GS906aLxi2Q&feature=youtu.be
          ">https://www.youtube.com/watch?v=GS906aLxi2Q&feature=youtu.be</a></p>
      </div>
    </div>
  </div>
</div>

