<div class="row about-row noborder">
  <div class="image-bef-txt">
    <h1>THE FUTURE IS OPEN.</h1>
  </div>
  <img src="<%= asset_path('about/Open_Content.jpg') %>" class="about-banner" />
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %>
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<p class="cnt-top">Once upon a time, way back in 2008, Pratham Books came across <a href="https://creativecommons.org/" target="_blank">Creative Commons</a>, and fell in love with the collaborative, like-minded model immediately. We saw in it an opportunity to scale up our own work enormously, but flexibly, in a way that would serve our mission of placing a book in every child's hands.</p>
        </p>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/1.png') %>"></span>
            <div class="about-content">
              <p class="mar-top">By releasing all our content under a Creative Commons license we are now able to license content to multiple organisations and individuals, both known and unknown, with a one-time effort, as opposed to the traditional model which involved time consuming negotiations and discussions with each known organisation or individual who wanted to use the content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
           <span><img src="<%= asset_path('about/2.png') %>"></span>
            <div class="about-content">
              <p class="text-right mar-top">The results have been nothing short of stupendous. Our books have found new life in several new languages. They have taken completely new forms like audio stories, YouTube videos, and digital apps. If we follow a single story released under the Creative Commons license, we discover that it has spun off several new derivatives, and multiplied our reach many times over.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/3.png') %>"></span>
            <div class="about-content">
              <p class="mar-top">Take our story, The Annual Haircut Day for example. It gathered so much momentum under the open license that it is now an Android, Blackberry, and iPad app, in addition to being reborn as an interactive video on YouTube. Even more fascinatingly, it has been translated into Sanskrit and printed. These varied forms help the story reach – and delight – a whole new set of readers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/4.png') %>"></span>
            <div class="about-content">
              <p class="text-right mar-top">All the content on StoryWeaver is openly licensed under Creative Commons. The license that has been used for all stories and illustrations is <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CCBY</a>4.0. This license lets you distribute, remix, tweak, and build upon our work, even commercially, as long as you credit us, Pratham Books, the donor/funder of the book, and the original author, illustrator and translator, where applicable, for the original creation. To know more about attributions, <a href="/attributions" target="_blank">click here.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>