<div class="row about-row">
  <div class="image-bef-txt">
    <h1>THANK YOU, THE WORLD HAS MORE BOOKS BECAUSE OF YOU!</h1>
  </div>
  <img src="<%= asset_path('about/Supporters.jpg') %>" class="about-banner" />  	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<p class="cnt-top"><b>StoryWeaver from Pratham Books has been possible because it has received generous support from many organizations.</b></p>
        <div class="col-md-12 col-sm-12">
          <div class="col-md-9 col-sm-9 faq-left-ques our_partners_blk">
            <div id="supporters1" class="col-md-12 col-sm-12 donors">
              <h3>Donors</h3>
              <div class="col-md-12 col-sm-12">
                <div class="odd-abt">
                 <span><img src="<%= asset_path('about/Google_Impact_Press.png') %>" class="circle_image"></span>
                  <div class="about-content">
                    <h3>Google</h3>
                    <p>StoryWeaver was developed using funding from the <a href="https://impactchallenge.withgoogle.com/india2013#/prathambooks" target="_blank">Google Impact Challenge</a> held in India. In 2017, Pratham Books received funding from Google.org to dramatically increase the number of quality stories available through StoryWeaver and expand distribution and access to the platform. You can read more <a href="https://www.google.org/our-work/education/storyweaver/" target="_blank">here.</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="even-abt">
                  <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/donors/logos/1/original/o-sponsorship.png?1505114858" class="circle_image" style="margin-top: 80px;"></span>
                  <div class="about-content">
                    <h3 class="text-right">Oracle</h3>
                    <p class="text-right">Creating fun and compelling STEM (Science, Technology, Engineering and Math) books has been made possible through the Oracle Giving Initiative. With a focus on increasing a love for learning and deepening curiosity within STEM subjects, these books will inspire the next generation of makers and thinkers. Read our STEM books in multiple languages <a href="https://storyweaver.org.in/search?query=oracle" target="_blank">here.</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="odd-abt">
                 <span><img src="<%= asset_path('about/cisco.png') %>" class="circle_image" style="margin-top: 80px;"></span>
                  <div class="about-content">
                    <h3>Cisco</h3>
                    <p>With support from Cisco over two years we have been creating over 750 <a href="https://storyweaver.org.in/search?query=cisco" target="_blank">engaging STEM books</a> across multiple formats (print, digital and audio visual). The colourful and engaging books which have a focus on technology, will hopefully spark curiosity in children about the world of tomorrow.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="even-abt">
                  <span><img src="<%= asset_path('about/nsif.png') %>" class="circle_image" style="background-color: #000; margin-top: 40px; margin-left: 10px;"></span>
                  <div class="about-content">
                    <h3 class="text-right">Nasscom Social Innovation Forum</h3>
                    <p class="text-right">StoryWeaver was awarded the Nasscom Social Innovation Forum award for the most innovative solution in education in 2017. The award helped increase the depth and width of the content on StoryWeaver with a focus on underserved languages, which will help many children from these communities, as well as add to the corpus of free educational resources available for teachers and the community.</p>
                  </div>
                </div>
              </div>
              <div class="section-divider"></div>
            </div>
            <div id="supporters2" class="col-md-12 col-sm-12 translators">
              <h3>Translation Partnerships</h3>
              <div class="col-md-12 col-sm-12">
                <div class="odd-abt">
                 <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/1080/original/KBM_Logo_new.jpg?1505453458" class="circle_image"></span>
                  <div class="about-content">
                    <h3>Konkani Bhasha Mandal</h3>
                    <p>The Konkani Bhasha Mandal recognises the diminishing footprint of their mother tongue from the landscape of children's literature and have worked tirelessly to build a corpus of stories in the language for a new generation of learners. They have translated over <a href="https://storyweaver.org.in/stories?publisher=Konkani%20Bhasha%20Mandal&query=&sort=Relevance" target="_blank">100 stories (and counting) to Konkani</a> on StoryWeaver and have disseminated 25,000 copies of these books to schools in the region.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="even-abt">
                  <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/448/original/UCU_official_logo.jpg?1505365230" class="circle_image" style="margin-top: 60px;"></span>
                  <div class="about-content">
                    <h3 class="text-right">Uganda Christian University</h3>
                    <p class="text-right">The Uganda Christian University's (UCU) aims to supplement early literacy initiatives by making <a href="https://storyweaver.org.in/stories?publisher=Uganda%20Christian%20University&query=&sort=Relevance" target="_blank">quality multilingual children stories</a> freely available to the local communities. This is a part of the UCU Community Service Project: 'Creative Writing, Translation and Publishing for Children' in the Department of Languages and Literature. The University has facilitated the downloading and printing of selected titles and till date 3000 copies of story books have been printed for distribution to community libraries, schools and individual children.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="odd-abt">
                 <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/444/original/rosetta_logo_copy.jpg?1505365215" class="circle_image" style="margin-top: 70px;"></span>
                  <div class="about-content">
                    <h3>Translators Without Borders and The Rosetta Foundation</h3>
                    <p>Translators Without Borders and The Rosetta Foundation are both committed to ensuring that language is not a barrier to accessing knowledge. While Translators without Borders trains new translators in critical languages and raising awareness of language barriers, The Rosetta Foundation believes that access to information in your own language is a fundamental and universal human right – one that they are committed to preserving and protecting. Read the translations they have powered <a href="https://storyweaver.org.in/stories?publisher=The%20Rosetta%20Foundation&query=&sort=Relevance" target="_blank">here.</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="even-abt">
                  <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/440/original/TAFVLogo_highres.jpg?1505365236" class="circle_image" style="margin-top: -20px;"></span>
                  <div class="about-content">
                    <h3 class="text-right">The Asia Foundation</h3>
                    <p class="text-right">
                    <a href="https://asiafoundation.org/" target="_blank">The Asia Foundation</a> is an international nonprofit that helps societies work towards a peaceful, just, and thriving region. Their Let's Read! Campaign pledges to provide storybooks to children across the continent. Read their translations <a href="https://storyweaver.org.in/stories?publisher=The%20Asia%20Foundation&query=&sort=Relevance" target="_blank">here.</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="odd-abt">
                 <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/2708/original/CGNet_Swara_Logo.png?1537249749" class="circle_image" style="margin-top: 50px;"></span>
                  <div class="about-content">
                    <h3>CGnet Swara</h3>
                    <p>CGnet Swara is working towards facilitating communication between the different Gond tribes spread across India. CGnet Swara believes that creating relevant Gondi language content and using modern technology to bring it to people is the only way to ensure it can survive and flourish. CGnet Swara'  s Gondi translation hackathon saw 175 stories translated to the language on StoryWeaver. These stories are also uploaded on <a href="http://www.adivasiswara.org/" target="_blank">adivasiswara.org</a>, the world's first and only website that publishes content in the Gondi language. The translated books will be distributed to children in schools, while the audio version will also be played over Adivasi Swara.</p>
                  </div>
                </div>
              </div>
              <div class="section-divider"></div>
            </div>
            <div id="supporters3" class="col-md-12 col-sm-12 publisher">
              <h3>Publisher Partnerships</h3>  
              <div class="col-md-12 col-sm-12">
                <div class="odd-abt">
                 <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/442/original/book-dash-resized.jpg?1505365207" class="circle_image"></span>
                  <div class="about-content">
                    <h3>BookDash</h3>
                    <p><a href="https://bookdash.org/" target="_blank">BookDash</a> believes that every child should own a hundred books by the age of five. BookDash gathers volunteer creative professionals to create new, African storybooks that anyone can freely translate and distribute. Read their books on StoryWeaver <a href="https://storyweaver.org.in/stories?publisher=Book%20Dash&query=&sort=Relevance" target="_blank">here.</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="even-abt">
                  <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/446/original/African_Storybook_Project_Logo_FINAL-3_copy.jpg?1505365226" class="circle_image" style="margin-top: -20px;"></span>
                  <div class="about-content">
                    <h3 class="text-right">African Storybook Project</h3>
                    <p class="text-right"><a href="https://www.africanstorybook.org/" target="_blank">The African Storybook Project</a>, an initiative of Saide in South Africa has created a repository of stories in African languages for children to learn and practice reading. You can read their books on StoryWeaver <a href="https://storyweaver.org.in/stories?publisher=African%20Storybook%20Initiative&query=&sort=Relevance" target="_blank">here.</a></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="odd-abt">
                 <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/1280/original/RTR_Logo_color.png?1519297414" class="circle_image" style="margin-top: 50px;"></span>
                  <div class="about-content">
                    <h3>Room to Read</h3>
                    <p><a href="https://www.roomtoread.org/" target="_blank">Room to Read</a> believes that World Change Starts with Educated Children.®Room to Read seeks to transform the lives of millions of children in low-income countries by focusing on literacy and gender equality in education. Working in collaboration with local communities, partner organizations and governments, they develop literacy skills and a habit of reading among primary school children, and support girls to complete secondary school with the relevant life skills to succeed in school and beyond.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="even-abt">
                  <span><img src="https://storage.googleapis.com/story-weaver-e2e-production/publishers/logos/1549/original/Sub_Sahran.png?1519818296" class="circle_image" style="margin-top: 0px;"></span>
                  <div class="about-content">
                    <h3 class="text-right">Sub-Saharan Publishers</h3>
                    <p class="text-right">
                    <a href="https://www.subsaharanpublishers.com/" target="_blank">Sub-Saharan Publishers</a>, founded by Akoss Ofori-Mensah in 1992, is an indigenous Ghanaian publishing house now specializing in African children's books, African literature, literature on the trans-Atlantic slave trade, and scholarly books. You can read some of their children’s books in English and Ghanaian languages on StoryWeaver <a href="https://storyweaver.org.in/stories?publisher=Sub-Saharan%20Publishers&query=&sort=Relevance" target="_blank">here.</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 fixed-ques-bar nopadding affix-top our_partners_affix" data-spy="affix" data-offset-bottom="250" data-offset-top="700">
            <ul>
              <li class="active"><a href="#supporters1">Donors</a></li>
              <li><a href="#supporters2">Translation Partnerships</a></li>
              <li><a href="#supporters3">Publisher Partnerships</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
