<div class="row about-row">
  <div class="image-bef-txt">
    <h1>THANK YOU, THE WORLD HAS MORE BOOKS BECAUSE OF YOU!</h1>
  </div>
  <img src="<%= asset_path('about/Supporters.jpg') %>" class="about-banner" />  	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
      	<p class="cnt-top"><b>StoryWeaver from Pratham Books has been possible because it has received generous support from many organizations.</b></p>        
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
           <span><img src="<%= asset_path('about/Google_Impact_Press.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Google</h3>
              <p>As a fledgling idea on paper, the proposal was a finalist in the <a href="https://impactchallenge.withgoogle.com/india2013#/prathambooks">Google Impact Challenge</a> held in India and Google funded the project through a grant to Pratham Books. So thank you Google !!</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/Oracle-logo.png') %>" class="supporters_image"></span>
            <div class="about-content">
              <h3 class="text-right">Oracle</h3>
              <p class="text-right">
              Creating fun and compelling non-fiction books has been made possible through the Oracle Giving Initiative, which has funded the development of 200 books across 10 languages. With a focus on increasing a love for learning and deepening curiosity within these subjects - math, science, environmental education and technology - these books will inspire the next generation of STEM professionals (scientists, engineers, architects, technology professionals, etc). 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
           <span><img src="<%= asset_path('about/ASP-logo.png') %>" class="supporters_image"></span>
            <div class="about-content">
              <h3>The African Storybook Project</h3>
              <p><a href="http://www.africanstorybook.org">The African Storybook Project</a>, an initiative of Saide in South Africa has created a repository of stories in African languages for children to learn and practice reading. They have translated many of Pratham Books' stories into multiple African languages which are hosted on StoryWeaver.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/Konkani-logo.png') %>" class="supporters_image"></span>
            <div class="about-content">
              <h3 class="text-right">The World Konkani Centre</h3>
              <p class="text-right">
              <a href="http://vishwakonkani.org/world-konkani-centre/">The World Konkani Centre</a> founded by Konkani Bhas Ani Sanskriti Prathistan to serve as a centre for the preservation and overall development of Konkani language, art and culture collaborated with StoryWeaver for translation of stories in Konkani. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
           <span><img src="<%= asset_path('about/Translators-with-borders.png') %>" class="supporters_image"></span>
            <div class="about-content">
              <h3>Translators Without Borders</h3>
              <p><a href="http://www.translatorswithoutborders.org">Translators without Borders </a>envisions a world where knowledge knows no language barriers. The US-based nonprofit provides people access to vital knowledge in their language, focused on health, education and crisis content. It also trains new translators in critical languages and raises awareness of language barriers.</p>
            </div>
          </div>
        </div>      
    </div>
  </div>
</div>
