<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><br><br><img src="<%= asset_path('about/circle_Storyweaver.png') %>" class="circle_image_press"></span>
            <div class="about-content">
              <h3><br><a href="/weave_a_story_campaign" class="pressLink_color">Weave-a-Story</a></h3>
              <p>StoryWeaver was launched with the Weave-a-Story campaign where 8 enchanting children's stories were shared with the community to help create 100 translations of these. <a href="/weave_a_story_campaign">Click here</a> to read more.</p>
              <p></p>
            </div>
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/Circle_6th_Frame_Story_Challenge.png') %>" class="circle_image_press"></span>
            <div class="about-content">
              <h3 class="text-right"><a href="http://blog.prathambooks.org/search/label/6framestory" class="pressLink_color">#6FrameStoryChallenge</a></h3>
              <p class="text-right">Before  the launch of StoryWeaver an online campaign was run by Pratham Books to build a rich bank of open-source illustrations. The essence of the #6FrameStoryChallenge was to tell a good story using just 6 illustrations. <a href="http://blog.prathambooks.org/search/label/6framestory">Click here</a> to know more.</p>
            </div>
          </div>
        </div>
         <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><br><br><img src="<%= asset_path('about/wonder_why.png') %>" class="circle_image_press"></span>
            <div class="about-content">
              <h3><br><a href="/wonder_why_week" class="pressLink_color">WonderWhyWeek</a></h3>
              <p>Celebrating the innate curiosity children possess about the world around them we introduced engaging, picture books that covered STEM (Science, Technology, Engineering and Math) topics. <a href="/wonder_why_week">Read more</a> here.</p>
              <p></p>
            </div>
          </div>        
        </div>
         <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/spotathon.png') %>" class="circle_image_press"></span>
            <div class="about-content">
              <h3 class="text-right"><a href="https://storyweaver.org.in/blog_posts/84" class="pressLink_color">Spotathon</a></h3>
              <p class="text-right">Spotathon was StoryWeaver's campaign to collect ‘spotting’ illustrations from artists around the world to create an amazing spotting book for children, made available for free on <a href="https://storyweaver.org.in">storyweaver.org.in</a>. To see all the entries made to Spotathon <a href="https://storyweaver.org.in/search?search%5Bquery%5D=spotathon&search%5Bcategories%5D%5B%5D=all&search%5Blanguages%5D%5B%5D=English&search%5Bpublishers%5D%5B%5D=all&search%5Bchild_created%5D=&search%5Breading_levels%5D%5B%5D=all&search%5Bsort%5D=&search%5Bauthors%5D=&page=1&per_page=9">click here.</a></p>
              <p></p>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>

