<div class="row about-row noborder">	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">        
        <div class="col-md-12 col-sm-12">
          <p><b>How do I know the Reading Levels of stories?</b></p>
          <p>Finding the correct Reading Level for a child is like finding her the right size of shoes – it needs to be ‘just right.’ We link levels to the child’s reading development, since we know 10-year-olds who are most comfortable with a Level 1 story, as well as 6-year-olds who can read Level 3 stories effortlessly. This happens across languages, too, as kids have different fluencies in different languages.</p>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><u>Guidelines for choosing reading levels</u> </p>
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/1.png') %>"></span>
            <div class="about-content">
              <h3>Level 1 – Beginning to Read</h3>
              <p>Easy words, word repetition</p>
              <p>Short sentences, less than 5 on a page</p>
              <p>Text and pictures should support each other</p>
              <p>Big fonts</p>
              <p>Rhyme and rhythm</p>
              <p>Word range: 0 to 250</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
           <span><img src="<%= asset_path('about/2.png') %>"></span>
            <div class="about-content">
              <h3>Level 2 – Learning to Read</h3>
              <p>Simple concepts (especially in non-fiction)</p>
              <p>Stories with linear, engaging plots </p>
              <p>Word range: 250 to 600</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/3.png') %>"></span>
            <div class="about-content">
              <h3>Level 3 – Reading Independently</h3>
              <p>Longer sentences</p>
              <p>Popular topics (adventure, mystery, etc)</p>
              <p>Well sketched-out characters</p>
              <p>Word range: 600 to 1500</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
            <span><img src="<%= asset_path('about/4.png') %>"></span>
            <div class="about-content">
              <h3>Level 4 – Reading Proficiently</h3>
              <p>Complex plots</p>
              <p>Longer, more nuanced stories</p>
              <p>Rich vocabulary, Language play (metaphors, similes, etc.)</p>
              <p>Word range: 1500+</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

