<div class="row about-row">
  <div class="image-bef-txt">
    <h1>THE STORYWEAVERS</h1>
    <h2>Find out how people around the world are using the platform!</h2>
  </div>
  <img src="<%= asset_path('about/Storyweaver_and_You.jpg') %>" class="about-banner" />	
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">      	
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
           <span><img src="<%= asset_path('about/librarians.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Librarians</h3>
              <p>Mrs. Morris is a librarian at the Mantra4Change school in Bengaluru. On StoryWeaver she has access to thousands of stories which she curates and downloads onto computers in the library for children to read and enjoy. She says, "I use the e-books for partner reading, and it is working so well. Children read, then discuss what they read. This helps develop their comprehension and communication abilities." Start browsing for stories <a href="https://storyweaver.org.in/search">here.</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/educators.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3 class="text-right">Educators</h3>
              <p class="text-right">Bohra Bai is a teacher in Phaltan district, Maharashtra. She and her fellow teachers download and project stories on to classroom walls. She says, "The Marathi stories help bridge the gap between the dialect children speak at home and the medium of instruction." Bhakti Varma, an Early Grades Instructional Specialist with the Akanksha Foundation in Pune downloads stories and curates reading lists by theme, language and reading level for her teachers.</p>
            </div>					
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">         
            <span><img src="<%= asset_path('about/parents_new.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Parents</h3>
              <p>Pavithra Solai Jowahar and her husband Jaggan are parents to a young boy. They are using StoryWeaver to translate stories to Saurashtra to teach their son his mother tongue. Shital Chaudhari wakes her son up every morning with a 'Good Morning Story' from the platform!</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">				  
            <span><img src="<%= asset_path('about/translators_new.png') %>" class="circle_image_translate"></span>
            <div class="about-content">
              <h3 class="text-right">Translators</h3>
              <p class="text-right">Rantu Moni Deka, a Pratham Block officer in Assam has been translating stories to Assamese to share with children in the schools he works with. Suchana, an NGO working in West Bengal has translate over 60 books to tribal languages Kora and Santali and printed 10,000 copies to distribute to children via a mobile library. <a href="https://storyweaver.org.in/tutorials">Click here</a> to take a quick tutorial.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
            <span><img src="<%= asset_path('about/content_creators.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Content Creators</h3>
              <p>Authors and illustrators will find creating and uploading their work to StoryWeaver a breeze. By publishing stories on StoryWeaver, authors like Vibha Lohani are able to give their creativity a platform and share their work with an ever growing audience from around the world. Illustrator Niloufer Wadia, participated in our <a href="https://prathambooks.org/announcing-winners-of/" target="_blank">#6FrameStoryChallenge</a> and got a number of new assignments for illustrating picture books for other publishers.</p>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/non_profits.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3 class="text-right">Non-profits</h3>
              <p class="text-right">Bookshare is using StoryWeaver to create multilingual literacy material for print impaired students. Meghshala creates lesson plans for the state syllabus in a digital platform. The stories from StoryWeaver are used in teach kits to complement the lesson. If you'd like to use StoryWeaver content in your organisation's work, write to us at <a href="mailto:storyweaver@example.com">storyweaver@example.com</a></p>
            </div>
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/edtech.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3>Edtech Startups</h3>
              <p>Zaya is using content from StoryWeaver as a part of their Cloudclass reading programme. They are also using our stories in their 'School Wifi' product for affordable private schools across India. mGuru integrates storybooks from StoryWeaver into a mobile literacy app. The team downloads stories and gamifies the experience with audio, built on activities and added questions through which children can collect points and enjoy the learning process.</p>
            </div>
          </div>				
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/publishers.png') %>" class="circle_image"></span>
            <div class="about-content">
              <h3 class="text-right">Publishers</h3>
              <p class="text-right">Publishers like Book Dash and the African Storybook Project are uploading their stories to StoryWeaver. On StoryWeaver, publisher’s content can spread far and wide, with translations to multiple languages and myriad uses, thanks to the CC-By4.0 license. Other publishers like Harper Collins and Unicorn Books are using our books in their English and Hindi course books while Pune-based content creation company Media Vidya have taken 16 of our Marathi stories and converted them to the audio format to publish online on Maha Tarun Bharat. All this without the bother of copyright negotiations and legal paperwork. <a href="https://prathambooks.org/magicbird-publishing-takes-our-books-to/" target="_blank">Click here</a> to know more.</p>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>

