<div class="row about-row noborder">
  <img src="<%= asset_path('about/Campaigns.png') %>" class="about-banner" /> 
  <div class="home-full-border about-border">
    <div class="home-page-cont about-cnt col-md-12 col-sm-12 nopadding">
      <div class="col-md-2 col-sm-2 nopadding left-menu">
        <%= render "left_menu" %> 
      </div>
      <div class="col-md-10 col-sm-10 nopadding right-content-abt">      	               
        <div class="col-md-12 col-sm-12">
          <p><b>Weave-a-Story – 8 stories. 113 translations.</b></p>
          <p>StoryWeaver was launched on International Literacy Day last year with the Weave-a-Story campaign. We shared 8 enchanting children's stories with its community of weavers and asked them to help us create 113 translations of them in as many languages as possible. Central to the campaign was the spirit of collaboration and language diversity.</p>

          <p>Six months later, we're bursting with joy  when we share that those 8 stories today have 113 avatars of which 89 are in Indian languages. Stories in <a href="https://storyweaver.org.in/search?utf8=%E2%9C%93&search%5Bquery%5D=sadri&button=">Sadri</a> , <a href="https://storyweaver.org.in/search?utf8=%E2%9C%93&search%5Bquery%5D=mundari&button=">Mundari</a> and <a href="https://storyweaver.org.in/search?utf8=%E2%9C%93&search%5Bquery%5D=kurukh&button=">Kurukh</a> which are tribal languages rub shoulders with stories in <a href="https://storyweaver.org.in/search?utf8=%E2%9C%93&search%5Bquery%5D=sanskrit&button=">Sanskrit</a>, <a href="https://storyweaver.org.in/search?utf8=%E2%9C%93&search%5Bquery%5D=konkani&button=">Konkani</a>, <a href="https://storyweaver.org.in/search?utf8=%E2%9C%93&search%5Bquery%5D=khmer&button=">Khmer</a> and <a href="https://storyweaver.org.in/search?utf8=%E2%9C%93&search%5Bquery%5D=dutch&button=">Dutch</a> proving that stories truly do take on a life journey of their own when set free. In fact, you can read the story of the journey Anushka Ravishankar's book 'It's all the Cat's Fault' took <a href="http://blog.prathambooks.org/2016/02/this-cat-has-more-than-nine-lives.html">here.</a> </p>

          <p>To read the stories and their translations browse through the links below!</p>

          <p><a href="https://storyweaver.org.in/stories/1281-it-s-all-the-cat-s-fault">'Its All the Cat's Fault'</a> by Anushka Ravishankar and Priya Kuriyan</p>
          <p><a href="https://storyweaver.org.in/stories/1658-ammu-s-puppy">'Ammu's Puppy'</a> by Sowmya Rajendran and Soumya Menon</p>
          <p><a href="https://storyweaver.org.in/stories/1910-didi-ka-rang-biranga-khazaana">'दीदी का रंग बिरंगा खज़ाना'</a> by Rukmini Banerji and Kaveri Gopalakrishnan</a></p>
          <p><a href="https://storyweaver.org.in/stories/2169-thuppariyum-durai">‘துப்பறியும் துரை’</a> by N Chokkan and Megha Vishwanath</p>
          <p><a href="https://storyweaver.org.in/stories/2380-the-story-of-stories">'The Story of Stories'</a> by Roopa Pai and Prashant Miranda</p>
          <p><a href="https://storyweaver.org.in/stories/2711-the-day-it-rained-fish">'The Day it Rained Fish'</a> by Ramendra Kumar and Delwyn Remedios</p>
          <p><a href="https://storyweaver.org.in/stories/1685-mangoes-for-moidootty">'Mangoes for Moidootty'</a> by Sreedevi Gopakumar and GreyStroke.</p>
          <p><a href="https://storyweaver.org.in/stories/2779-chunnu-munnu">‘चुन्नु-मुन्नु का नहाना’</a> by Rohini Nilekani, Sonal Goyal and Sumit Makhija.</p>

        <div class="col-md-12 col-sm-12">
          <div class="odd-abt"><br>
             <span><img src="<%= asset_path('about/Rohini.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Rohini Nilekani</h3>
              <p>is a writer and philanthropist, who wrote her earlier books for children, including Annual Haircut Day, under the pen name Noni. Rohini Nilekani is the co-founder of Pratham Books.</p>
            </div>          
          </div>        
        </div>

        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/Sonal.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">Sonal Goyal</h3>
                  <p class="text-right">​Sonal Goyal loves to draw and paint. It is almost impossible to find a blanksheet of paper on her table!.</p>
            </div>          
          </div>        
        </div>

        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/Sumit.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Sumit Sakhuja</h3>
              <p>is a ‘Burp’ artist who burps after completing every drawing. The better the drawing the louder the burp!</p>
            </div>          
          </div>        
        </div>

        <div class="col-md-12 col-sm-12">
         <div class="even-abt">
             <span><img src="<%= asset_path('about/Sridevi.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">Sreedevi Gopakumar</h3>
              <p class="text-right">is a former media executive who is now finding new ways of narrating stories. In her previous avatars she has been spotted as an advertising copywriter, a newsreader and a voice over artist among other things. She is now having enormous fun exploring the world of children’s literature and dabbling in crafts. She lives in Gurgaon with her husband and 3 year old son.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/Greystroke.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Greystroke</h3>
                  <p>​Greystroke aka Shyam Madhavan Sarada is a writer, illustrator, cartoonist and art director. He has created content for several children’s magazines and books for over 20 years. When he isn’t doing all this, he takes photographs and makes films.</p>
            </div>          
          </div>        
        </div>

        <div class="col-md-12 col-sm-12">
           <div class="even-abt">
             <span><img src="<%= asset_path('about/Ramendra_kumar.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">Ramendra Kumar</h3>
              <p class="text-right">A national award winning writer, inspirational speaker and storyteller, Ramendra Kumar (Ramen)   has  30 books   to his credit. Apart from fiction, he dabbles in satire, poetry and travelogues. Ramen's writings have been published in several Indian and foreign languages.  His  work has  found a place in text books, as well as   anthologies. An Engineer and an MBA, Ramen is the Chief of Communications at Rourkela Steel Plant, Odisha. His website is:<a href="http://www.ramendra.in"> www.ramendra.in</a>.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/Delwyn_Remedios.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Delwyn Remedios</h3>
                  <p>​Delwyn is a post graduate alumnus from Animation Film Design, NID. He work as a senior visual designer at Tata Interactive Systems and enjoys the process of drawing, colouring and storytelling. More of his work can be seen at <a href="http://delwynremedios.blogspot.in">delwynremedios.blogspot.in</a>.</p>
            </div>          
          </div>        
        </div>

        <div class="col-md-12 col-sm-12">
         <div class="even-abt">
             <span><img src="<%= asset_path('about/Roopa_Pai.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">Roopa Pai</h3>
              <p class="text-right">On average, Roopa Pai wears three hats every week - children's writer, journalist, and tour guide with history and heritage walks and tours Company, BangaloreWalks - but it is the first that is closest to her heart. In her 20 years of writing for children, she has written hundreds of magazine articles, newspaper columns, poems and short stories, and published over 18 books, 4 of them for Pratham Books. She is the author of Taranauts, India's first original fantasy-adventure series in English for children. Her new bestseller, The Gita For Children, released in July 2015.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/Prashant_Miranda.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Prashant Miranda</h3>
                  <p>​Prashant Miranda, grew up in Bangalore, studied at the National Institute of Design, Ahmedabad and moved to Toronto soon after. He spends his summers in Canada, and winters in India, where he travels and documents his life through his watercolour journals, animates films, illustrates children's books and paints murals. View his work at <a href="http://www.prashart.blogspot.com">www.prashart.blogspot.com</a></p>
            </div>          
          </div>        
        </div>

        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/Chokkan.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">N. Chokkan</h3>
              <p class="text-right">N. Chokkan (38) loves reading books and creating stories. He has written and translated more than 70 books in Tamil/ English, including many children stories. He lives in Bangalore, working as a software consultant.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/Megha.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Megha Vishwanath</h3>
                  <p>​Megha Vishwanath is a Bangalore based illustrator and artist. Her detour from a career in Technology to one in Art and Design, motivates her to embrace uncertainty, to experiment and observe, to be persistent, to find the devil in the detail and most importantly helps her explore the realm of imagination and creativity.<br>Between assignments, Megha enjoys weaving storyboards and re-narrating the classics. She currently freelances as a digital artist while consulting in Web Technology and User Experience.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
           <div class="even-abt">
             <span><img src="<%= asset_path('about/Rukmini.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">Rukmini Banerji</h3>
              <p class="text-right">Rukmini Banerji loves stories - both writing them and telling them. She has written many stories in Hindi and English for Pratham Books. Rukmini has
              been with Pratham since 1996. She has a extensive experience in working
              with children and schools, communities and governments, in enabling
              children to read, to write and to do basic arithmetic. She is also the CEO
              of Pratham.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/Kaveri.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Kaveri Gopalakrishnan</h3>
                  <p>​Kaveri Gopalakrishnan is an independent illustrator and comics-maker based in Bangalore, India. She graduated in 2012 in Animation Film Design from
                  the National Institute of Design, Ahmedabad. Kaveri works as illustrator
                  for print publications (magazines, book covers, editorial), with clients
                  such as Scholastic, Rupa Publications, and Penguin India. You can see her
                  work here: <a href="http://kaverigeewhiz.tumblr.com/">http://kaverigeewhiz.tumblr.com/</a>.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="even-abt">
             <span><img src="<%= asset_path('about/Sowmya_R.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">Sowmya Rajendran</h3>
              <p class="text-right">Sowmya Rajendran writes for people of all ages. She won the Sahitya
              Akademi's Bal Sahitya Puraskar this year for her book Mayil Will Not Be
              Quiet which she co-authored with Niveditha Subramaniam. Sowmya is rarely
              quiet and lives in a far more interesting make-believe world without a
              pincode for the most part.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="odd-abt">
             <span><img src="<%= asset_path('about/Soumya.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Soumya Menon​</h3>
                  <p>​Soumya Menon is​ an illustrator and animation filmmaker​ who​ graduated from National Institute of Design, Ahmedabad.​ She has​ illustrated children's books for ​multiple​​ publishers ​as well as​ children's magazines.​ She enjoy​s​ working with children, and spent a year in central India working with out­-of­-school children creating picture books and animated films. She likes to travel often, and try a hand at other occupations like painting walls​. You can see more of her work at <a href="http://scrambled-scribbles.blogspot.com/">scrambled-scribbles.blogspot.com</a>.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
           <div class="even-abt">
             <span><img src="<%= asset_path('about/Anushka.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3 class="text-right">Anushka Ravishankar</h3>
              <p class="text-right">Anushka Ravishankar has written more than thirty books for children, many of which have been published internationally and several of which have won international awards. She is now a platypus at Duckbill Books, publishing books for children and young adults.</p>
            </div>          
          </div>        
        </div>
        <div class="col-md-12 col-sm-12">
           <div class="odd-abt">
             <span><img src="<%= asset_path('about/Priya.png') %>" class="circle_image"/></span>
            <div class="about-content">
              <h3>Priya Kuriyan</h3>
              <p>Priya Kuriyan is a children's book illustrator, comic book artist and an animator. A graduate of the National Institute of design (Ahmedabad), she has directed educational films for the Sesame street show (India) and the Children's Film Society of India (CFSI) and illustrated numerous children's books for various Indian publishers. You can see her work at <a href="http://www.priyakuriyan.blogspot.com">priyakuriyan.blogspot.com</a>, <a href="http://www.pkuriyan.blogspot.com">pkuriyan.blogspot.com</a>.</p>
            </div>          
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>
