<div class="page-container-<%= page.page_template.orientation %> story-page <%=page.story.language.script%>" id="storyReader">  
  <div class='<%= page.page_template.name %> <%= page.illustration_crop.nil? ? '' : 'has_illustration' %> illustration'>
    <% if page.illustration_crop %>
      <img class='responsive_illustration'
        data-size1-src="<%= page.illustration_crop.url(:size1) %>"
        data-size2-src="<%= page.illustration_crop.url(:size2) %>"
        data-size3-src="<%= page.illustration_crop.url(:size3) %>"
        data-size4-src="<%= page.illustration_crop.url(:size4) %>"
        data-size5-src="<%= page.illustration_crop.url(:size5) %>"
        data-size6-src="<%= page.illustration_crop.url(:size6) %>"
        data-size7-src="<%= page.illustration_crop.url(:size7) %>"
        <% if @offline_processing %>
          src="image_<%= page.position %>.jpg"
        <% elsif (!size_to_render.nil? rescue false) %>
          src="<%= page.illustration_crop.image.url(size_to_render) %>"
        <% end %>
      />
    <% end %>
  </div>
  <%= render :partial => page_partial(page, @offline_processing), locals: {page: page, story_read_id: @story_read_id} %>
  <% if @disable_review_link == nil %>
        <%if (@story.status == "published" && @story.organization_id == nil) && ( current_user && current_user.is_language_reviewer(@story.language.name)) && (!@story.authors.include?(current_user)) %>
          <%if @story.flaggings_count == nil %>
            <%if @story.reviewer_comment.present?%>
              <div class="reviewed_story_<%= @story.orientation%>">
                <label>Story Reviewed</label>
              <div>
            <% else %>
              <div class="review_story_<%= @story.orientation%>">
                <%= link_to "Click here to start rating the story", story_review_path(@story, :flag => true), :method => :get, target: '_blank'%>
              </div>
            <% end %>
          <% else %>
              <div class="reviewed_story_<%= @story.orientation%>">
                <label>Flagged Story</label>
              <div>
          <% end %>
        <% end %>
      <%end%>
</div>
