      <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="moreLinksModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <%= simple_form_for(@user, :as=>'user', :url=>update_password_path, :html=>{:class => "form-horizontal" ,:remote => true, :method => :post}) do |f| -%>
              <div class="col-md-12">
                <label>Old password</label>
                <%= f.input :current_password, :label => false, :required => true, :input_html=>{:class=>"mod-inp"} %>
              </div>
              <div class="col-md-12">
                <label>New password</label>
                <%= f.input :password, :label => false, :required => true, :input_html=>{:class=>"mod-inp"} %>
              </div>
              <div class="col-md-12">
                <label>Confirm new password</label>
                 <%= f.input :password_confirmation,:label => false, :required => true, :input_html=>{:class=>"mod-inp"} %>
              </div>
              <div class="col-md-12">
                <%= f.submit "Save new password ", :class => "btn btn-info edit-btn" %>
              </div>
              <div class="modal-footer">
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<style type="text/css">
 .help-inline {color: #ff0000}
</style>